html {
	background-color:white;
}
body {
	font-family:"Century Gothic";
	font-size:small;
	margin: 0px auto 0px auto;
}
body table {
	margin:0px auto 0px auto;
}
h1 {
	margin-top:0px;
}
a:link {
	text-decoration:none;
}
a:hover {
	color:#870022;
	text-decoration:underline;
}
a:visited {
	text-decoration:none;
}
a:visited:hover {
	text-decoration:underline;
}
.mastertable {
	margin:0px auto 0px auto;
	width:970px;
	background-color: white;
}
.linkbardiv {
	position: absolute;
	width: 950px;
	height: 36px;
	margin-left: auto;
	margin-right: auto;
}
.linkbar {
	margin-left:0px;
	background-color:yellow;
}
.linkbar td {
	width:125px;
	height:35px;
	text-align:center;
	cursor:pointer;
	background-image:url('/../../../../../../../../../../moundville/images/button.gif');
}
.linkbar td a {
	font-weight:bold;
	font-size:large;
	font-variant:small-caps;
	color:black;
	text-decoration:none;
	display:block;
}
.linkbar td a:hover {
	font-weight:bold;
	font-size:large;
	font-variant:small-caps;
	color:black;
	text-decoration:none;
	display:block;
}
.linkbar td:hover {
	background-color:#9ECE00;
	background-image:url('/../../../../../moundville/images/button_hover.gif');
}

.linkbar td:hover a {
	font-weight:bold;
	text-decoration:none;
}
.linkbar-diag {
	width:35px;
	cursor:auto;
}
.breadcrumb {
	height:23px;
	background-color:white;
	vertical-align:middle;
	width:100%;
}
.eventlist {
	padding-left:15px;
	margin-left:0px;
}
.eventlist li {
	margin-bottom:15px;
}
.eventlist li a {
	color:white;
}
.eventlist li a:hover {
	color:white;
}
.eventlist span {
	color: gray;
	font-size: x-small;
}
.body {
	height: 100%;
	width: 100%;
	vertical-align: top;
	padding: 30px 30px 30px 30px;
	background-color: white;
}
.header {
	width: 950px;
	height: 166px;
	color: white;
	background-color: black;
	border-bottom: 1px #9ECE00 solid;
}
.headerCenter {
	width: 10px;
	padding-top: 5px;
	vertical-align: top;
	text-align: center;
}
.headerRight {
	width: 485px;
	text-align:right;
}
.aboutBar {
	background-color: black;
	border-bottom: 1px #9ECE00 solid;
	width: 170px;
	padding-right: 10px;
}
.aboutBar a {
	color: white;
}
.aboutBar a:hover {
	color: white;
}
.sidebar {
	width: 135px;
	background-color: black;
	color: white;
	vertical-align: top;
	padding: 30px 14px 30px 14px;
	border-left: 2px #9ECE00 solid;
}
.sidebar a {
	color: white;
}
.sidebar a:hover {
	color: white;
}
.footer {
	width: 950px;
	height: 31px;
}
.shadow-top-left {
	background-image: url('/../../../../../../../../../../moundville/images/top_left_corner.gif');
	background-repeat: no-repeat;
	background-position: right;
	width:10px;
	height:10px;
}
.shadow-top {
	background-image: url('/../../../../../../../../../../moundville/images/shadow_top.gif');
	background-repeat: repeat-x;
	height:10px;
}
.shadow-top-right {
	background-image: url('/../../../../../../../../../../moundville/images/top_right_corner.gif');
	background-repeat: no-repeat;
	background-position: left;
	width:10px;
	height:10px;
}
.shadow-left {
	background-image: url('/../../../../../moundville/images/shadow_left.gif');
	background-repeat: repeat-y;
	background-position: right;
	width:10px;
}
.shadow-right {
	background-image: url('/../../../../../moundville/images/shadow_right.gif');
	background-repeat: repeat-y;
	background-position: left;
	width:10px;
}
.shadow-bottom-left {
	background-image: url('/../../../../../moundville/images/bottom_left_corner.gif');
	background-repeat: no-repeat;
	background-position: right;
	width:10px;
	height:10px;
}
.shadow-bottom {
	background-image: url('/../../../../../moundville/images/shadow_bottom.gif');
	background-repeat: repeat-x;
	height:10px;
}
.shadow-bottom-right {
	background-image: url('/../../../../../moundville/images/bottom_right_corner.gif');
	background-repeat: no-repeat;
	background-position: left;
	width:10px;
	height:10px;
}
.image-shadow-right {
	background-image: url('/../../../../../moundville/images/image_shadow_right.gif');
	background-repeat: repeat-y;
	background-position: left;
	width:10px;
	vertical-align:top;
}
.image-shadow-bottom {
	background-image: url('/../../../../../moundville/images/image_shadow_bottom.gif');
	background-repeat: repeat-x;
	height:10px;
	text-align:left;
}
.image-shadow-bottom-right {
	background-image: url('/../../../../../moundville/images/image_bottom_right_corner.gif');
	background-repeat: no-repeat;
	background-position: left;
	width:10px;
	height:10px;
}
div.image {
	float:right;
	padding:20px 0px 20px 20px;
}
div.image table {
	margin:0px 0px 0px 0px;
}
div.image table tr td p {
	clear:both;
	text-align:right;
	font-size:x-small;
	font-style:italic;
	margin-top:0px;
	color:#2C2C2C;
}
img.image {
	width:400px;
	border:1px black solid;
	padding:4px 4px 4px 4px;
}
.imagecontainer{
	float:left;
	background: url('/../../../../../moundville/images/image_shadow.gif') no-repeat right bottom;
}
.imagecontainer img{
	display: block;
	position:relative;
	background-color: #FFFFFF;
	border: 1px solid #A9A9A9;
	margin: -10px 10px 10px -10px;
}